<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Lesser Key of Solomon</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1 class="title">The Lesser Key of Solomon</h1>

    <div class="sigil-form">
        <img src="/img/solomon_seal.png" alt="The Seal of Solomon" class="solomon-seal">

        <div class="form-container">

            <form action="" id="nameForm">
                <label for="dname">Demon Name:</label>
                <input type="text" id="dname" name="fname"><br><br>
            </form> 
            <button class="demonName" type="submit" form="nameForm" value="Submit">Submit</button>
            <h1 class="test-name-space"></h1>
        </div>
    </div>
</body>
<script src="js/main.js"></script>
</html>