.profile {
    display: flex;
    /* background-color: rgb(0, 0, 0); */
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 32%, rgba(0,212,255,1) 100%); */
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(146,63,244,1) 50%, rgba(0,0,0,0.13627449270723913) 100%);
}

.profileRight {
    flex: 9;
}

.profileCover {
    height: 320px;
    /*relative positioning to allow profile img to be on top*/
    position: relative;
    background-color: rgb(97, 81, 146);
}

.profileCoverImg {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.profileUserImg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    /*absoute positioning so profile image can sit on top of cover img*/
    position: absolute;
    /*center*/
    left: 0;
    right: 0;
    margin: auto;
    top: 150px;
    border: 3px solid rgb(112, 20, 20);
}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(97, 81, 146);
}

.profileInfoName {
    font-size: 24px;
}

.profileInfoDesc {
    font-weight: 300;
}
.profileRightBottom {
    display: flex;
}